#if($ctx.error)
  $util.error($ctx.error.message, $ctx.error.type)
#end

{
    "data": $util.toJson($context.result.items),
    "nextToken": $util.toJson($util.defaultIfNullOrBlank($context.result.nextToken, null))
}
